*{
    margin:0;
    padding:0;
}
.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    
}
.logo{
    height:40px;
    padding: 2px 10px;
}
.navbar-toggler-icon{
    background: darkorange;
}
.nav-item{
    align-items: right;
}
.container-fluid h3 {
    text-align: center;
}